body{
    text-align:center;
    font-family: sans-serif;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    background-color:  #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

img{
    border: 2px solid #ccc;
    border-radius: 10px;
}